# Data Wrangling Notebook

## Imports and static variables

In [22]:
import pandas as pd

In [23]:
# codes needed to shrink down the dataset to the african countries we want to display
african_iso_codes = ["DZA"
,"AGO"
,"BEN"
,"BWA"
,"BFA"
,"BDI"
,"CMR"
,"CPV"
,"CAF"
,"TCD"
,"COM"
,"COG"
,"COD"
,"CIV"
,"DJI"
,"EGY"
,"GNQ"
,"ERI"
,"ETH"
,"GAB"
,"GMB"
,"GHA"
,"GIN"
,"GNB"
,"KEN"
,"LSO"
,"LBR"
,"LBY"
,"MDG"
,"MLI"
,"MWI"
,"MRT"
,"MUS"
,"MYT"
,"MAR"
,"MOZ"
,"NAM"
,"NER"
,"NGA"
,"REU"
,"RWA"
,"STP"
,"SEN"
,"SYC"
,"SLE"
,"SOM"
,"ZAF"
,"SSD"
,"SDN"
,"SWZ"
,"TZA"
,"TGO"
,"TUN"
,"UGA"
,"ESH"
,"ZMB"
,"ZWE"]
# source: https://www.nro.net/list-of-country-codes-in-the-afrinic-region/

## Read Data

### Country codes and shapes

In [24]:
country_codes = pd.read_csv("data/country_lookup.csv")

In [25]:
country_codes

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,AF,AFG,4,33.0000,65.0
1,Albania,AL,ALB,8,41.0000,20.0
2,Algeria,DZ,DZA,12,28.0000,3.0
3,American Samoa,AS,ASM,16,-14.3333,-170.0
4,Andorra,AD,AND,20,42.5000,1.6
...,...,...,...,...,...,...
251,Wallis and Futuna,WF,WLF,876,-13.3000,-176.2
252,Western Sahara,EH,ESH,732,24.5000,-13.0
253,Yemen,YE,YEM,887,15.0000,48.0
254,Zambia,ZM,ZMB,894,-15.0000,30.0
255,Zimbabwe,ZW,ZWE,716,-20.0000,30.0

### Life Expectancy

In [26]:
# https://ourworldindata.org/grapher/life-expectancy?time=1544&country=BWA~NAM~ZAF~SWZ~TZA~ZMB
life_expectancy = pd.read_csv("data/life-expectancy.csv")
life_expectancy

            Entity Code  Year  Life expectancy
0      Afghanistan  AFG  1950           27.638
1      Afghanistan  AFG  1951           27.878
2      Afghanistan  AFG  1952           28.361
3      Afghanistan  AFG  1953           28.852
4      Afghanistan  AFG  1954           29.350
...            ...  ...   ...              ...
19023     Zimbabwe  ZWE  2015           59.534
19024     Zimbabwe  ZWE  2016           60.294
19025     Zimbabwe  ZWE  2017           60.812
19026     Zimbabwe  ZWE  2018           61.195
19027     Zimbabwe  ZWE  2019           61.490

[19028 rows x 4 columns]

In [27]:
# rename columns
life_expectancy = life_expectancy.rename(columns={
                                            "Entity":"Country"
})
life_expectancy

           Country Code  Year  Life expectancy
0      Afghanistan  AFG  1950           27.638
1      Afghanistan  AFG  1951           27.878
2      Afghanistan  AFG  1952           28.361
3      Afghanistan  AFG  1953           28.852
4      Afghanistan  AFG  1954           29.350
...            ...  ...   ...              ...
19023     Zimbabwe  ZWE  2015           59.534
19024     Zimbabwe  ZWE  2016           60.294
19025     Zimbabwe  ZWE  2017           60.812
19026     Zimbabwe  ZWE  2018           61.195
19027     Zimbabwe  ZWE  2019           61.490

[19028 rows x 4 columns]

### HIV death rate

In [28]:
# read hiv death rate (death per 100k people)
#  source: https://ourworldindata.org/grapher/hiv-death-rates?time=2018
hiv_import = pd.read_csv("data/hiv-death-rates.csv")
hiv_import

,Entity,Code,Year,Deaths - HIV/AIDS - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,0.366079
1,Afghanistan,AFG,1991,0.407195
2,Afghanistan,AFG,1992,0.435063
3,Afghanistan,AFG,1993,0.464077
4,Afghanistan,AFG,1994,0.498594
...,...,...,...,...
8215,Zimbabwe,ZWE,2015,271.838069
8216,Zimbabwe,ZWE,2016,249.251170
8217,Zimbabwe,ZWE,2017,223.703501
8218,Zimbabwe,ZWE,2018,196.301602
8219,Zimbabwe,ZWE,2019,180.620329

In [29]:
# renaming column
hiv_import = hiv_import.rename(columns={"Deaths - HIV/AIDS - Sex: Both - Age: Age-standardized (Rate)": "Deaths from HIV/AIDS in 100 thousand people",
                                        "Entity":"Country"})
hiv_import

          Country Code  Year  Deaths from HIV/AIDS in 100 thousand people
0     Afghanistan  AFG  1990                                     0.366079
1     Afghanistan  AFG  1991                                     0.407195
2     Afghanistan  AFG  1992                                     0.435063
3     Afghanistan  AFG  1993                                     0.464077
4     Afghanistan  AFG  1994                                     0.498594
...           ...  ...   ...                                          ...
8215     Zimbabwe  ZWE  2015                                   271.838069
8216     Zimbabwe  ZWE  2016                                   249.251170
8217     Zimbabwe  ZWE  2017                                   223.703501
8218     Zimbabwe  ZWE  2018                                   196.301602
8219     Zimbabwe  ZWE  2019                                   180.620329

[8220 rows x 4 columns]

### Causes of deaths

In [30]:
# function to rename columns with causes of death
def rename_column(col_name):
    if("Deaths -" in col_name):
        col_name = col_name[8 : col_name.find(" - Sex:")]
    if(col_name == "Entity"):
        col_name = "Country"
    return col_name

In [31]:
# causes of death dataset
# source: https://ourworldindata.org/grapher/share-of-deaths-by-cause?time=2002..2003
cause_death_import = pd.read_csv("data/share-of-deaths-by-cause.csv")
cause_death_import = cause_death_import.rename(columns=rename_column)
cause_death_import

,Country,Code,Year,Cardiovascular diseases,Neoplasms,Drowning,Maternal disorders,Chronic respiratory diseases,Alcohol use disorders,Drug use disorders,...,Parkinson's disease,HIV/AIDS,Acute hepatitis,Self-harm,Malaria,Interpersonal violence,Nutritional deficiencies,Meningitis,Protein-energy malnutrition,Enteric infections
0,Afghanistan,AFG,1990,24.629360,6.351853,0.753856,1.454994,3.262317,0.039419,0.051212,...,0.203769,0.018885,1.637379,0.381465,0.051300,0.842655,1.147728,1.187705,1.129548,2.540274
1,Afghanistan,AFG,1991,23.579963,6.113898,0.723191,1.493944,3.136918,0.038631,0.053022,...,0.193851,0.021245,1.603353,0.388646,0.098302,1.037186,1.118861,1.153141,1.101286,2.776388
2,Afghanistan,AFG,1992,22.327184,5.858938,0.728760,1.588249,2.985221,0.038311,0.056472,...,0.181514,0.023283,1.595283,0.409441,0.115222,1.101780,1.173158,1.190678,1.155610,3.172975
3,Afghanistan,AFG,1993,21.270470,5.604434,0.750935,1.627132,2.859900,0.037611,0.058660,...,0.170681,0.024865,1.598771,0.418030,0.047777,1.147779,1.261441,1.251052,1.243635,3.867953
4,Afghanistan,AFG,1994,20.374972,5.336301,0.750613,1.594841,2.754636,0.036317,0.058698,...,0.161585,0.026307,1.578041,0.409779,0.087014,1.176815,1.275958,1.254375,1.258300,3.624326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8395,Zimbabwe,ZWE,2015,12.505176,8.380066,0.578121,1.015002,2.067063,0.035964,0.077940,...,0.161946,21.964689,0.109622,1.676438,1.894479,0.975349,2.270660,1.080245,2.248861,3.984316
8396,Zimbabwe,ZWE,2016,12.912334,8.736636,0.611032,1.016606,2.126924,0.037326,0.083618,...,0.167307,20.769693,0.111208,1.747906,1.566541,1.020258,2.333336,1.110767,2.311335,3.974312
8397,Zimbabwe,ZWE,2017,13.285884,9.073112,0.632819,1.010809,2.180040,0.038557,0.089135,...,0.172457,19.294984,0.111391,1.804474,1.638591,1.050525,2.314999,1.127910,2.293012,3.988814
8398,Zimbabwe,ZWE,2018,13.791937,9.502992,0.651582,1.018363,2.251893,0.040475,0.095586,...,0.179517,17.556091,0.109639,1.870430,1.652881,1.099257,2.308575,1.144800,2.286210,3.912921
8399,Zimbabwe,ZWE,2019,14.061202,9.746106,0.653096,1.017424,2.283885,0.041736,0.100332,...,0.183245,16.458611,0.107482,1.893108,1.634642,1.128119,2.280379,1.144263,2.257940,3.823129

## Join Tables

In [32]:
# merge in hiv death rates
hiv_and_LE = hiv_import.merge(life_expectancy, on=["Country","Year","Code"])
hiv_and_LE

,Country,Code,Year,Deaths from HIV/AIDS in 100 thousand people,Life expectancy
0,Afghanistan,AFG,1990,0.366079,50.331
1,Afghanistan,AFG,1991,0.407195,50.999
2,Afghanistan,AFG,1992,0.435063,51.641
3,Afghanistan,AFG,1993,0.464077,52.256
4,Afghanistan,AFG,1994,0.498594,52.842
...,...,...,...,...,...
6265,Zimbabwe,ZWE,2015,271.838069,59.534
6266,Zimbabwe,ZWE,2016,249.251170,60.294
6267,Zimbabwe,ZWE,2017,223.703501,60.812
6268,Zimbabwe,ZWE,2018,196.301602,61.195
6269,Zimbabwe,ZWE,2019,180.620329,61.490

In [33]:
hiv_le_causes = hiv_and_LE.merge(cause_death_import, on=["Country","Year","Code"])

In [34]:
# shrink dataset to african countries
hiv_le_causes = hiv_le_causes[hiv_le_causes["Code"].isin(african_iso_codes)]

In [35]:
hiv_le_causes

,Country,Code,Year,Deaths from HIV/AIDS in 100 thousand people,Life expectancy,Cardiovascular diseases,Neoplasms,Drowning,Maternal disorders,Chronic respiratory diseases,...,Parkinson's disease,HIV/AIDS,Acute hepatitis,Self-harm,Malaria,Interpersonal violence,Nutritional deficiencies,Meningitis,Protein-energy malnutrition,Enteric infections
90,Algeria,DZA,1990,0.205573,66.938,34.788700,6.872654,0.786121,1.061368,2.868667,...,0.285699,0.028929,0.316547,0.913479,0.006069,0.319370,0.295142,0.546060,0.275234,2.104665
91,Algeria,DZA,1991,0.227273,67.270,35.784980,7.135730,0.743511,1.005819,2.931052,...,0.295107,0.032961,0.313160,0.907066,0.005981,0.316442,0.287364,0.520021,0.267514,1.908338
92,Algeria,DZA,1992,0.250077,67.575,36.557049,7.258288,0.724943,0.963743,2.978710,...,0.306105,0.037050,0.307857,0.915418,0.007695,0.323609,0.278729,0.498172,0.258660,1.745090
93,Algeria,DZA,1993,0.274849,67.877,37.300950,7.379766,0.709279,0.920274,3.027255,...,0.316808,0.041575,0.305150,0.925577,0.007557,0.332118,0.270976,0.478206,0.250825,1.601656
94,Algeria,DZA,1994,0.300538,68.194,37.682038,7.416182,0.693864,0.863998,3.045583,...,0.324835,0.045823,0.299757,0.939737,0.005330,0.352809,0.257013,0.452600,0.236934,1.467447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,Zimbabwe,ZWE,2015,271.838069,59.534,12.505176,8.380066,0.578121,1.015002,2.067063,...,0.161946,21.964689,0.109622,1.676438,1.894479,0.975349,2.270660,1.080245,2.248861,3.984316
6266,Zimbabwe,ZWE,2016,249.251170,60.294,12.912334,8.736636,0.611032,1.016606,2.126924,...,0.167307,20.769693,0.111208,1.747906,1.566541,1.020258,2.333336,1.110767,2.311335,3.974312
6267,Zimbabwe,ZWE,2017,223.703501,60.812,13.285884,9.073112,0.632819,1.010809,2.180040,...,0.172457,19.294984,0.111391,1.804474,1.638591,1.050525,2.314999,1.127910,2.293012,3.988814
6268,Zimbabwe,ZWE,2018,196.301602,61.195,13.791937,9.502992,0.651582,1.018363,2.251893,...,0.179517,17.556091,0.109639,1.870430,1.652881,1.099257,2.308575,1.144800,2.286210,3.912921
6269,Zimbabwe,ZWE,2019,180.620329,61.490,14.061202,9.746106,0.653096,1.017424,2.283885,...,0.183245,16.458611,0.107482,1.893108,1.634642,1.128119,2.280379,1.144263,2.257940,3.823129

In [36]:
hiv_le_causes.to_csv("data/merged_data_clean.csv")